*.o
*.2bit.64
*.a
*.dSYM
*.swp
*.hitval
*.fa
*.fasta
*.pac
*.possa
*.salep
*.suffixarray_uint64
*.suffixarray
*.bwt
*.sam
*.amb
*.ann
*.0123
*~
*#
*.avx
*.avx2
*.avx512bw
*.sse41
*.sse42
*PARAMETERS
*-tmp
build/
bwa-meme
bwa-meme_mode*
bwa-mem2
a.out
*.txt
*.tar.gz
sa_lep_val_result.txt
rmi_infer_result.txt
rmi_data
*.kmer_table
*.mlt_table
test/small_ref/
test/results/
test/reference_result.txt
test/result_learned.txt
human_g1k_v37.fasta.*_suffixarray_uint64_data.h
ref.fa.*_suffixarray_uint64
human_g1k_v37.fasta.suffixarray_uint64_data.h
query_human.fastq
RMI/my_first_rmi*
RMI/my_first_rmi22*
RMI/my_first_rmi*
test/*txt
test/ref.fa.ref2sa
test/result_learned.txt
test/reference_result.txt
test/query_error.fastq
test/ert_seeding_big_read
test/fmi_seeding_big_read
test/learned_seeding_big_read
test/star_align
*cmake